# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/demo-front/.env
/demo-front/.encryptedKey.json

# dependencies
/demo-front/node_modules
/demo-front/.pnp
/demo-front/.pnp.js

# testing
/demo-front/coverage

# next.js
/demo-front/.next/
/demo-front/out/

# production
/demo-front/build

# misc
/demo-front/.DS_Store
/demo-front/*.pem

# debug
/demo-fron/tnpm-debug.log*
/demo-front/yarn-debug.log*
/demo-front/yarn-error.log*
/demo-front/.pnpm-debug.log*

# local env files
/demo-front/.env*.local

# vercel
/demo-front/.vercel
VDF-prover/__pycache__/web3_util.cpython-310.pyc

.DS_Store
