[submodule "VDF-RNG-verifier"]
	path = VDF-RNG-verifier
	url = https://github.com/tokamak-network/VDF-RNG-verifier.git
	branch = localTest
[submodule "VDF-RNG-demo-contract"]
	path = VDF-RNG-demo-contract
	url = https://github.com/tokamak-network/VDF-RNG-demo-contract.git
	branch = JanuaryEvent
