
/* 전역 스타일에 box-sizing을 추가합니다. */
* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4; /* Soft background color */
    background-image: url('christmas_gift_boxes_background.png'); /* Christmas gift boxes background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background */
    background-size: cover; /* Cover the entire body with the background */
    color: #333; /* Dark text for better contrast */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #8A0808; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px 1px 10px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #01DF3A; 
    font-family: Century Gothic, sans-serif;
}

.network-info, .wallet-info {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

.app-container {
    background-color: #ffffff; /* White background */
    color: #333;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    margin-top: 50px;
    font-size: 1.2rem;
}

.bet-input-container {
    display: flex;
    background-color: #f0f0f0; /* Light grey background to emphasize this section */
    padding: 10px;
    justify-content: center; /* Ensure elements are centered */
    align-items: center; /* Vertically align elements */
    width: 100%; /* Full width of the container */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    /* margin-top: 20px; */
    margin-bottom: 10px; /* Space from other elements */
}

input[type="number"] {
    font-size: 1.2rem; /* Increased font size */
    border: 2px solid #ddd;
    background-color: white;
    color: #333;
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.3s, box-shadow 0.3s;
    flex-grow: 1; /* Take available space */
    margin-right: 5px; /* Space from the button */
}

input[type="number"]:focus {
    border-color: #ff4747; /* Festive red when focused */
    box-shadow: 0 0 8px rgba(255, 71, 71, 0.5); /* Subtle glow effect */
}

button {
    font-size: 1.2rem; /* Increased font size */
    background-color: #ff4747; /* Festive red color */
    color: white;
    width: 100%; /* Full width of the container */
    height: 12%;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    flex-grow: 1; 
    margin-bottom: 10px; /* Space from other elements */
}

button:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}


#betAmount {
    flex-grow: 1; /* input 요소가 가능한 많은 공간을 차지하도록 함 */
    margin-right: 0em; /* 버튼과의 간격을 적당히 설정 */
    width: 70%; /* 너비를 auto로 설정하여 flex-grow에 의해 조절되도록 함 */
}

#placeBet {
    width: calc(30% - 30px); /* Adjusting for padding and keeping button smaller than input */
    font-size: 1rem;
    background-color: #a5e697;
    text-align: center; /* 텍스트를 버튼의 중앙에 위치시킵니다 */
	flex: 1;
}

#disconnectWallet {
    font-size: 1.2rem; /* Increased font size */
    background-color: #ff4747; /* Festive red color */
    color: white;
    width: 80%; /* Full width of the container */
    justify-content: center; /* Ensure elements are centered */
    align-items: center; /* Vertically align elements */
    margin: 0 auto;
    height: 12%;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    flex-grow: 1; 
    margin-bottom: 10px; /* Space from other elements */
}

.bet-container {
    display: flex;
    justify-content: center; /* 내부 요소들을 가운데로 정렬합니다. */
    align-items: center; /* 세로축으로도 가운데 정렬합니다. */
    width: 90%; /* 전체 컨테이너의 너비를 부모의 90%로 설정 */
    margin: 5px auto; /* 상하 여백 설정 및 좌우 여백을 auto로 하여 가운데 정렬 */
}


.bet-input-container {
    display: flex;
    flex: 7; /* input에 더 많은 공간 할당 */
    margin-right: 2px; /* 버튼과의 간격 조정 */
}

@media (min-width: 768px) {
    .app-container {
        padding: 40px;
        margin-top: 100px;
        width: 50%; /* Fixed width or max-width */
        min-width: 300px; /* Minimum width */
    }

    .bet-container, button, input[type="number"] {
        width: calc(100% - 80px);
    }
}
